/* Variables
-------------------------------------------------------------- */

// colors
$color_white: #fff;
$color_black: #010101;
$color_pink: #ef5d9e;

$color_text: #535353;

//fonts
$OpenSans: 'Open Sans', sans-serif;